.navbar{
    display: flex;
    align-items: center;  
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgba(12, 12, 12, 0.979);
}
.navbar h2 a{
    opacity: 1;
}
.navbar h2 a:hover{
    color:#f48020
}
.navbar ul{
    display: flex;
    gap: 1rem;
}
.new_btn{
    font-weight: bold;
    border: 1px solid #fff;
    padding: .5rem 1rem;
    border-radius: 5px;
    opacity: 1;
    transition: 0.3s;
}
.new_btn:hover{
    border-color:#f48020;
    color:#f48020;
}